.formulario-filtrado {
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  padding-left: 20px;
  position: fixed;
  width: 100%;
  top: 82px;
  padding-top: 10px;
  background: white;
  z-index: 1;
}

.viviendafor {
    display: inline-block;
    margin-bottom: 20px;
}

.viviendas {
  margin-top: 160px;
  text-align: center;
  background: lavenderblush;
}

.titulo-viviendas {
    background: gray;
    line-height: 68px;
    color: white;
    font-size: 20px;
}

.inputs-formulario {
    display: inline-block;
    margin-right: 50px;
}

.inputs-formulario p {
  margin: 0px;
  display: inline-block;
  width: 100px;
}

.input-price input {
    margin-top: 8px;
    margin-left: 5px;
    width: 80px;
    text-align: right;
}
